<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="Logs" />
      </logger>
    </ipp>
  </intuit>
 <appSettings>
    <!--Enter the values below. -->
    <add key="AccessToken" value="" />
    <add key="AccessTokenSecret" value="" />
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="RealmID" value="" />
  </appSettings>
</configuration>